.tile:nth-child(3n) {
    margin-right: 0;
}

.tile:nth-of-type(1) {
    background: #7eb30c;
}

.tile:nth-of-type(2) {
    background: #409059;
}

.tile:nth-of-type(3) {
    background: #3ea19c;
}

.tile:nth-of-type(4) {
    background: #6c860f;
}

.tile:nth-of-type(5) {
    background: #44684e;
}

.tile:nth-of-type(6) {
    background: #34777a;
}