.tile {
    margin: 0 52px 52px 0;
}

.tile:nth-child(2n) {
    margin-right: 0;
}

.tile:nth-child(3n) {
    clear: both;
}

.tile:nth-of-type(1) {
    background: #788991;
}

.tile:nth-of-type(2) {
    background: #4d9db9;
}

.tile:nth-of-type(3) {
    background: #4f6676;
}

.tile:nth-of-type(4) {
    background: #246280;
}

#start .tile {
    background: #47a0c4;
}

#overview {
    padding-left: 104px;
}

@media (max-device-width: 720px) {
    .tile {
        margin: 0 10px 10px 0;
    }

    #overview {
        padding: inherit;
    }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .tile {
        margin: 0 30px 30px 0;
    }
}