@font-face {
    font-family: 'Frutiger';
    src: url('../fonts/frutigerltstd-bold-webfont.eot');
    src: url('../fonts/frutigerltstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frutigerltstd-bold-webfont.woff') format('woff'),
         url('../fonts/frutigerltstd-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Frutiger';
    src: url('../fonts/frutigerltstd-bolditalic-webfont.eot');
    src: url('../fonts/frutigerltstd-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frutigerltstd-bolditalic-webfont.woff') format('woff'),
         url('../fonts/frutigerltstd-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Frutiger';
    src: url('../fonts/frutigerltstd-light-webfont.eot');
    src: url('../fonts/frutigerltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frutigerltstd-light-webfont.woff') format('woff'),
         url('../fonts/frutigerltstd-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Frutiger';
    src: url('../fonts/frutigerltstd-lightitalic-webfont.eot');
    src: url('../fonts/frutigerltstd-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/frutigerltstd-lightitalic-webfont.woff') format('woff'),
         url('../fonts/frutigerltstd-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

* {
    box-sizing: border-box;
}

body {
    background: #232323;
    color: #fff;
    font-family: 'Frutiger';
    font-size: 27px;
    margin: 0;
    padding: 0;
}

button,
input[type="submit"] {
    background: #c8c9cc;
    border: none;
    border-radius: 0;
    font-family: 'Frutiger';
    font-size: 0.6em;
}

input[type="text"],
input[type="email"] {
    background-color: #fff;
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: inset 0 0 5px #000 !important;
    font-size: 0.8em;
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    background: url('../images/checkbox.png') no-repeat top left;
    background-size: 39px 39px;
    display: block;
    min-height: 39px;
    padding: 7px 0 0 70px;
}

input[type="checkbox"]:checked + label {
    background-image: url('../images/checkbox-checked.png');
}

h1 {
    font-weight: normal;
}

small {
    font-size: 0.5em;
}

.main {
    height: auto;
    overflow: hidden;
    width: 100%;
}

.main:before,
.main:after {
    content: " ";
    display: table;
}

.main:after {
    clear: both;
}

.logo {
    height: 57px;
    position: absolute;
    right: 25px;
    top: 30px;
    width: 390px;
}

.page,
.page-inner {
    width: 672px;
}

.page {
    background: #232323;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -336px;
    top: 215px;
    -webkit-transition: all 0.5s linear;
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

.page:before,
.page:after,
.page-inner:before,
.page-inner:after {
    content: " ";
    display: table;
}

.page:after,
.page-inner:after {
    clear: both;
}

.left {
    left: -150%;
}

.right {
    left: 150%;
    overflow: hidden;
    width: 0;
}

.tile {
    background: #5d7482;
    float: left;
    height: 198px;
    width: 198px;
    margin: 0 26px 26px 0;
    padding: 10px;
    position: relative;
    text-align: left;
    vertical-align: bottom;
}

.tile:before,
.tile:after {
    content: " ";
    display: table;
}

.tile:after {
    clear: both;
}

#start .tile {
    float: none;
    margin: 2em auto;
}

.tile.touch {
    background: #5b978e !important;
}

.tile-heading {
    font-size: 1.16em;
    left: 5.05%;
    position: absolute;
    top: 17.68%;
}

.tile-caption {
    bottom: 5.05%;
    font-size: 0.8em;
    left: 5.05%;
    position: absolute;
    right: 5.05%;
}

.nav {
    clear: both;
    margin-top: 1em;
}

.nav:before,
.nav:after {
    content: " ";
    display: table;
}

.nav:after {
    clear: both;
}

.back,
.next {
    background: no-repeat center center;
    background-size: 26px 52px;
    height: 72px;
    width: 46px;
}

.back {
    background-image: url('../images/back.png');
    float: left;
}

.back:active {
    background-image: url('../images/back-active.png');
}

.next {
    background-image: url('../images/forward.png');
    float: right;
}

.next:active {
    background-image: url('../images/forward-active.png');
}

.error {
    background-color: #800;
    padding: 5px;
}

.main-error {
    left: 0;
    position: absolute;
    right: 0;
    top: 120px;
    z-index: 2;
}

#participants {
    height: 100%;
    overflow-y: scroll;
}

.wrong {
    color: #800;
}

.load-indicator {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

#start {
    text-align: center;
}

#languageSwitch .page-inner {
    margin: 0 auto;
    width: 450px;
}

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .page {
        top: 130px;
    }

    .back,
    .next {
        bottom: 15px;
    }

    .main-error {
        top: 0;
    }
}

@media (max-device-width: 720px) {
    body {
        font-size: 15px;
    }

    .logo {
        height: 19px;
        right: 12px;
        top: 15px;
        width: 130px;
    }

    .page {
        left: 0;
        margin-left: 0;
        padding: 0 10px 30px 10px;
        top: 100px;
    }

    .page,
    .page-inner {
        width: 100%;
    }

    .page.right {
        left: 150%;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        width: 0;
    }

    .left {
        left: -150%;
    }

    .tile {
        clear: both;
        float: none;
        height: 90px;
        margin: 0 0 10px 0;
        width: 100%;
    }

    .tile:last-of-type {
        margin-bottom: 30px;
    }

    .back,
    .next {
        background-size: 13px 26px;
    }

    input[type="checkbox"] + label {
        background-size: 19px 19px;
        padding: 2px 0 0 30px;
    }

    input[type="text"],
    input[type="email"] {
        font-size: 1.5em;
    }

    .main-error {
        top: 15px;
    }
}

@media (max-device-width: 720px) and (-o-min-device-pixel-ratio: 2/1),
(max-device-width: 720px) and (-webkit-min-device-pixel-ratio: 1.6),
(max-device-width: 720px) and (min-device-pixel-ratio: 1.6) {
    .logo {
        height: 38px;
        width: 260px;
    }

    .main-error {
        top: 15px;
    }
}